  
  <h1>Friends</h1>
  <% friends.each do |friend| %>
  <span class='title'>
    <h3> <%= link_to "#{friend.profile.name}", user_path(friend) %> </h3>
  </span>
  <span class="content">
    <%= friend.profile.blurb %>
  </span>
  <br>
      <%= link_to "Unfriend", user_friend_path(id: user.id, user_id: current_user), method: :delete ,
                                       data: { confirm: "Are you sure you want to unfriend?" } %>

  </span>
  <br>

  <% end %>